<!DOCTYPE html>
<html>
  <head>
    <title>News</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="Avatar_Style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

  </head>
  <body ng-app="News">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>

	<script type="text/ng-template" id="/login.html">

	  <div class='container text-center form'>
    <div class='row'>
    <h1 class='login'>Log In --- Book of Faces</h1>
    </div>
      <form name='userForm' class='row'>
      <input placeholder='Name' ng-model='userName' class='input_style col-xs-12 col-sm-6 	col-md-4'/>
      <input placeholder='Email' ng-model='userEmail' class='col-xs-12 col-sm-6 col-md-3 	input_style'/>
      <input placeholder='Image Url' ng-model='userUrl' class='col-xs-7 col-md-3 input_style'/>

      <a ng-href="#/home" ng-click='LogIn(UserName)' class="btn btn-info" class='col-md-2 col-xs-5'>Log In</a>
    </form>


    </div>


	</script>


	<script type="text/ng-template" id="/home.html">
    <form ng-submit="toLogIn()" style = "margin-top30px;">
  		<a ng-click="toLogIn()" href="#/login" class="btn btn-info" role="button">Switch User</a>
  	</form>

        <div class="page-header">
          <h1 class="headText">What's New?</h1>
        </div>




        <form ng-submit="addPost()" style = "margin-top30px;">
          <input type="text" ng-model="formContent"></input>
        <button type="submit">Post</button>
        </form>
      <div> {{test}} </div>
      <div class="formPosts">
      <div class="postContent" ng-repeat="post in posts | orderBy: '-upvotes'">
        <img class="AvatarImage" ng-src="{{post.avatarUrl}}" />
        {{post.user}}
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
          {{post.title}} - upvotes: {{post.upvotes}}
         <a href="#/posts/{{posts.indexOf(post)}}">Comments</a>
      </div>
    </div>
        </script>

      <script type="text/ng-template" id="/posts.html">

        <form style = "margin-top30px;">
          <a ng-href="#/home" class="btn btn-info" role="button">Home</a>
        </form>

      <div class="page-header headText">
        <h3>
          <img class="AvatarImageHeader" ng-src="{{post.avatarUrl}}" />
          {{post.user}} -
          {{post.title}}
        </h3>
      </div>
      <div class="formComments">
      <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <img class="AvatarImage" ng-src="{{comment.url}}" />
      {{comment.user}} -
      <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)">
        </span>
      {{comment.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
        </span>
        </div>
      </div>

        <form class="formComments" ng-submit="addComment()" style="margin-top:30px;">
        <h3>Add a new comment</h3>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body">
        </input>
        </div>
          <button type="submit" class="btn btn-primary">
            Post
          </button>
        </form>

        </script>

	<script src="app.js"></script>

    </div>
    </div>
  </body>
</html>
